*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;

}

a{
    text-decoration: none;
   
}

.header a{
    text-decoration: none;
    color: #9399ff;
    font-size: 100px;
    font-family: 'poppins',sans-serif;
}
 p{
    color: white;
    margin-bottom: 50px;
}
h2{
    color: white;
    font-weight: 700;
    margin-top: 100px;
    font-size: 40px;

} 
.header{
    display: flex;

}
.know{
    margin-left: 100px;
    background-color: white;
    color: black;
     border: 0;
    border-radius: 5px;
    padding: 10px 20px; 
}
.header a{
    padding: 20px 30px;
    font-weight: 700;

}
span{
    color: cornsilk;
    font-weight: 700;
    font-size: 70px;
    font-family: monospace;
}
.social{
float: right;
display: flex;
flex-direction: row;
}
li{
    float: left;
list-style: none;
padding: 10px;
margin: 10px;
border-radius: 10px;

}
.nav li{
    float: left;
list-style: none;
padding: 10px;
margin: 30px;
border-radius: 10px;
}

ul{
    margin-right: 20px;
}
.nav ul{
    margin-top: 150px;
    margin-left:100px;
    font-size:30px;
}
.three{
    margin-top: 100px;
    margin-right: 550px;
}
.three li{
    background-color: cornsilk;
}

.three li a img{
    max-width: 40px;
}


.social img{
    border: 1px solid white;
    /* color: cornsilk; */
}
.content{
    position: relative;
    display: flex;
    margin-top: 50px ;
    height: 100vh;
    background-color:#D763EC ;
    border-top-left-radius: 10%;
}
.text{
    margin-left: 100px;
}
.image img{
height: 100vh;
 }
 .scroll{
     margin-left: 100px;
 }
.hamb{
    height: 3vh;
    width: 5vh;
    border: 0;
    position: relative;
    margin-top: 30px;
    margin-left: 800px;
    cursor: pointer;
}
.hamb::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background: black;
}
.hamb::after{
    position: absolute;
    bottom: 3px;
    content: '';
    width: 100%;
    height: 5px;
    background: black;
}
.hamb1 {
    height: 3vh;
    width: 5vh;
    border: 0;
    position: relative;
    margin-top: 30px;
    margin-left: 800px;
    cursor: pointer;
    transform: translateX(-5px);
}
.hamb1::before{
    position: absolute;
    content: '';
    top:7px;
    width: 100%;
    height: 5px;
    background: black;
    transform: rotate(49deg);

}
.hamb1::after{
    position: absolute;
    bottom: 30px;
    top: 7px;
    content: '';
    width: 100%;
    height: 5px;
    background: black;
    transform: rotate(125deg);


}
.nav ul{
    display: flex;
    flex-direction: column;
}
.nav{
    position: absolute;
    top:0;
    right: 0;
    background-color: rgb(103, 75, 175);
    color: white;
    font-weight: 700;
    height: 100vh;
    width: 400px;
    z-index: -100;
}
.content1{
    display: flex;
    margin-top: 50px ;
    height: 100vh;
    background-color:#D763EC ;
    border-top-left-radius: 10%;
    transform: translateX(-400px);
}
.banner{
    background-color: white;

}
.banner1{
    transform: translateX(-400px);

}
.bonza{
    position: relative;
    display: flex;
    height: 80vh;
    background-color:#9399ff ;
    /* border-top-right-radius: 10%;
    border-bottom-left-radius: 10%; */
    color: white;

}
.bonza h1{
    margin: 30px;

}
ol{
    margin-top: 120px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: 500;
    font-family: monospace;
}